/*font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/*variable CSS*/
:root {
    /*Colors*/
    --first-color: #4d49bf;
    --second-color: #05dbf2;
    --body-color: #dfe9f2;
    --title-color: #1c1c22;
    --text-color: #58576b;

    /*font and typography*/
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: .938rem;
    --h3-font-size: 1.125rem;
    --small-font-size: .75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --normal-font-size: 1rem;
        --h3-font-size: 1.25rem;
        --small-font-size: .813rem;
    }
}

/*base*/
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*card glass*/
.card {
    position: relative;
    overflow: hidden;
    padding: 3rem 0;
    background-color: var(--body-color);
}

.card__container {
    display: grid;
    gap: 1.5rem;
}

.card__glass {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 2.5rem;
    background: linear-gradient(130deg,
    rgba(251,251,254,.6),
    rgba(251,251,254,.2));
    box-shadow: inset 2px 2px 1px rgba(251,251,254,.3)
                inset -2px -2px 1px rgba(251,251,254,.2);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
}

.card__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #F4F4FB;
    margin-bottom: 1rem;
}

.card__data {
    margin-bottom: 1.5rem;
}

.card__title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: .25rem;
}

.card__profession {
    font-size: var(--small-font-size);
    color: var(--text-color);
    font-weight: 500;
}

.card__button {
    display: inline-block;
    background: linear-gradient(130deg,
    rgba(251,251,254,.9),
    rgba(251,251,254,.2));
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    color: var(--title-color);
    font-weight: 500;
    transition: .4s;
}

.card__button:hover {
    background: linear-gradient(130deg,
    rgba(251,251,254,1),
    rgba(251,251,254,.4));
}

.card__social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card__link {
    display: block;
    font-size: 1.35rem;
    color: var(--title-color);
    margin: 1rem 0;
    transform: translateX(-5rem);
}

.card__link:nth-child(1) {
    transition: .2s;
}

.card__link:nth-child(2) {
    transition: .5s;
}

.card__link:nth-child(3) {
    transition: .7s;
}

.card__link:nth-child(4) {
    transition: .9s;
}

.card__link:nth-child(5) {
    transition: 1.1s;
}

.card__link:nth-child(6) {
    transition: 1.3s;
}

.card__link:nth-child(7) {
    transition: 1.5s;
}

.card__glass:hover .card__link {
    transform: translateX(-1.5rem);
}

.card__circle {
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(130deg,
    rgba(77,73,191,.8),
    rgba(255,255,255,.2));
    border-radius: 50%;
}

.card__circle1 {
    top: 20%;
    left: -20%;
}

.card__circle2 {
    bottom: -5%;
    right: -25%;
    background: linear-gradient(130deg,
    rgba(5,219,242,.8),
    rgba(255,255,255,.2));
}

/*media queries*/
@media screen and (min-width: 568px) {
    .card__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        padding: 0;
    }

    .card__container {
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
    }

    .card__circle1 {
        left: 5%;
        top: 12%;
    }

    .card__circle2 {
        right: 8%;
        bottom: 15%;
    }
}